.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 12vh 4vh 8vh 50vh 9vh 33vh 30vh ;
    grid-gap: 10px;
    
}

img{
    border-radius: 5px;
}

body{
    background-color:#696868;
}

header{
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    grid-column-start:1;
    grid-column-end:40;
}

nav{
    background-color:rgb(216, 174, 69);
    grid-column-start:1;
    grid-column-end:40;
}

main{
    border: 3px solid black;
    background-color: #900000;
    grid-column-start:1;
    grid-column-end:40;
       
}
main h1{

    font-family: Verdana, Tahoma, sans-serif;
    font-size: larger;
    color: rgb(249, 249, 249);
    text-align: center;
    
}

section{
    grid-column-start:4;
    grid-column-end:37;

}

p{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#a0{
    border: 3px solid rgb(216, 174, 69);
    background-color: #900000;
    grid-column-start:1;
    grid-column-end:40;
}

#a0 h1{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: larger;
    color: rgb(249, 249, 249);
    text-align: center;
}

#a1{
    border: 5px solid black;
    border-radius: 8px;
    background-color: rgb(8, 8, 8);
    grid-column-start:3;
    grid-column-end:38;
    text-align: center;
}

#a2{
    border: 5px solid black;
    border-radius: 8px;
    background-color: rgb(8, 8, 8);
    grid-column-start:7;
    grid-column-end:33;
    text-align: center;
}
#a3{
    border: 3px solid #900000;
    background-color: rgb(247, 247, 247);
    grid-column-start:2;
    grid-column-end:10;
    text-align: center;
    font-size: medium;
}
